.searchContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1.5rem;
}

.searchInput {
  padding: 0.6rem 1rem;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.searchInput:focus {
  outline: none;
  border-color: #999;
  box-shadow: 0 0 0 2px rgba(100, 100, 255, 0.2);
}
